@tailwind base;
@tailwind components;
@tailwind utilities;

/* TW Components  */
@layer components {
  .page-vertical-space {
    @apply sm:py-4 py-4;
  }
  .page-horizontal-space {
    @apply md:px-8 px-4;
  }
  .hoverable-links {
    @apply opacity-40 hover:opacity-80 transition-all duration-200 mx-[8px];
  }
}

/* Typography */
h1 {
  @apply text-2xl font-extrabold leading-tight tracking-tighter;
}

h2 {
  @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

h3 {
  @apply text-3xl font-bold leading-tight;
}

h4 {
  @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

/* Buttons */
.btn,
.btn-sm {
  @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-8 py-3 shadow-lg;
}

.btn-sm {
  @apply px-4 py-2 shadow;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
